{% extends 'base.html' %}

{% block title %}
Profil {{object.user}}
{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="ui segment">
            <div class="three wide column">
                <img class="ui medium rounded image" src={{object.avatar.url}}>
                <h1>{{object.user}}</h1>
                <div class="item">
                        {{object.bio}}
                    </div>
                <div class="ui vertical fluid menu">
                    <div class="item">
                        Ilość postów
                        <div class="ui black label">{{object.posts_count}}</div>
                    </div>
                    <div class="item">
                        Znajomi
                        <div class="ui black label">{{object.friends_count}}</div>
                    </div>
                </div>
                {% if object.user not in receiver_list and object.user not in sender_list %}
                <form action="{% url 'profiles:send_invite' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                    <button type="submit" class="ui positive basic button mt-10 rel-btn"><i
                            class="plus square icon"></i>Dodaj do
                        znajomych
                    </button>
                </form>
                {% endif %}
                {% if object.user in receiver_list and request.user not in object.friends.all %}
                <button class="ui disabled button mt-10 rel-btn"><i class="user icon"></i>Zaproszenie wysłane</button>
                {% endif %}
                {% if object.user in sender_list and request.user not in object.friends.all %}
                <button class="ui disabled button mt-10 rel-btn"><i class="question icon"></i>Otrzymano zaproszenie</button>
                {% endif %}
                {% if request.user in object.friends.all %}
                <form action="{% url 'profiles:remove_friend' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value={{object.pk}}>
                    <button type="submit" class="ui negative basic button mt-10 rel-btn"><i
                            class="minus square icon"></i>Usuń ze
                        znajomych
                    </button>
                </form>
                {% endif %}

            </div>
        </div>
        <div class="ten wide column">
            {% if posts_ckeck %}
            {% for post in posts %}
            <div class="segment ui fluid">
                {{post.post_content}}
            </div>
            {% endfor %}
            {% else %}
            <div class="ui segment">
                <h1>Ta osoba nie zamieściła jeszcze żadnych postów...</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
