{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Zmiana hasła" %}{% endblock title %}

{% block content %}
<div class="ui segment">
    <div class="ui grid">
        <div class="row">
            <div class="five wide column">
                <h1>{% trans "Zmiana hasła" %}</h1>
                <div class="five wide column">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change ui form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="ui secondary button mt-10" name="action">{% trans "Zatwierdź" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
