body {
    background: #3b5998 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: #3b5998 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.comment-box {
    display: none;
}

.rel-btn {
    width: 220px !important;
}

.center {
    text-align: center;
}

